# --- Ignore all ---
*

# --- Un-ignore ---
!*/
!*.py
!*.js
!.gitignore
!README.md
!NoSQL/*

# --- Specifically ignore files ---
# IDE
.idea/
# Python
*main*.py
# SQL
NoSQL/dump/
NoSQL/dump.zip
# JS
*main*.js
.eslintrc.js
babel.config.js
node_modules/
